# Defines values for the 'build.properties' build properties
# This file is used to build the project in the case of bundled external jars

objectweb.ant.tasks.path config/ow_util_ant_tasks.jar

bcel.path test/lib/bcel.jar

serp.path test/lib/serp.jar

javassist.path test/lib/javassist.jar

janino.path test/lib/janino-2.3.3.jar
